body {
  padding:0;
  margin:0;
}

.erb .back {
  padding:30px 0px;
  text-align: center;
}

.erb .top-header {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:40px;
  display:flex;
  z-index:10;
  color:white;
  justify-content: space-between;
  font-size: 1.3em;
  padding-top: 10px;
}

.erb .header-btn {
  border:1px solid white;
  border-radius:5px;
  padding:0px 10px;
}

.header-btn:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}



.erb .top-header-left {
  display:flex;
  padding-left: 20px;
}

.erb .top-header-right {
  display:flex;
  padding-right: 20px;
}

.top-header a, .top-header div {
  color:white;
  padding:4px 10px;
}

.erb .background {
  width:100%;
  height:620px;
  background-size:contain;
  background-image: url(../../assets/images/top_image.jpg);
  position: relative;
}

.erb .background-about {
  width:100%;
  height:300px;
  background-size:contain;
  background-image: url(../../assets/images/top_image.jpg);
  position: relative;
}

.background::before{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.erb .background-about {
  width:100%;
  height:300px;
  background-size:contain;
  background-image: url(../../assets/images/top_image.jpg);
  position: relative;
}

.background-about::before{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.erb .top_text {
  color:#b3b3b3;
  padding-top:150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index:1;
  text-align:center;
}

.erb .top_text_about {
  color:#b3b3b3;
  padding-top:60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index:1;
  text-align:center;
}

.erb .top-title {
  font-size:4em;
}

.erb .top-subtitle {
  font-size:1.6em;
}

.top .block {
  padding:80px 0px;
  background-color:#ececec;
  margin:0 auto;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top .block-about {
  text-align: center;
  width: 80%;
}

.top .top-block-text {
  width:400px;
  padding:10px 0px;
  margin-right:100px;
}

.top h2 {
  margin:0px 0px 10px 0px;
  padding:0;
}

.top a {
  text-decoration: none;
}

.top .top-block-image img {
  max-width:280px;
}

.top .more {
  text-align: right;
}

.erb .block-flex {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  padding: 0px 30px;
  margin-top: 30px;
}

.erb .flex-item {
  width:280px;
  padding:40px 0px;
}

.erb .flex-item-text {
  font-weight: bold;
}

.pb-25 {
  padding-bottom:25px;
}

i {
  color:rgb(22, 22, 22);
  padding:20px 0px;
}

.block-sentence {
  text-align: left;
}

.about-signup-btn {
  color: black;
  border: 2px solid black;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  display: block;
}

.about-signup-btn:hover {
  color: white;
  background-color: black;
}

.pt-0 {
  padding-top:0px !important;
}

.erb .main-title {
  font-family:'arial black';
  font-size:2.5em;
}

.erb .title {
  font-size:1.6em;
  text-align:center;
}

.erb .container {
  padding:10px 0px;
  margin:0 auto;
  width:50%;
  background-color:rgb(200, 200, 200);
  margin-top:80px;
}

.erb .login {
  margin-top:0px !important;
}

.erb .box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:60%;
  margin:0 auto;
}

.erb p {
  margin:0;
}

.erb label {
  text-align: left;
}

.erb input {
  margin-bottom:10px;
}

.erb .btn {
  text-align: center;
  width:150px;
  margin:10px 0px;
}

.erb .image {
  margin:10px 0px;
}

.erb .link {
  text-decoration: none;
  margin:15px 0px;
}

.erb .header {
  position:absolute;
  top:0;
  left:0;
  height:50px;
  width:100%;
  background-color: rgb(34, 34, 34);
}

.erb .header p {
  padding-top:10px;
  color:white;
  text-align: center;
}

.ml-10 {
  margin-left:10px;
}

.mr-10 {
  margin-right:10px;
}

.erb .footer {
  height:40px;
}

.erb .footer-text {
  padding:10px 0px 0px 15px;
  text-align: left;
  color:rgb(185, 185, 185);
}

.nosumaho {
  display: block;
}

.sumaho {
  display: none !important;
}

.rakuten_url {
  font-size: 0.8em;
  padding-left: 20px;
}

.rakuten_url a {
  text-decoration: none;
}

.header-top-link {
  text-decoration: none;
  color:white;
  font-size: 1.3em;
}

@media screen and (max-width: 550px) {
  .nosumaho {
    display: none !important;
  }

  .sumaho {
    display: block !important;
  }

  .sumaho-header-flex {
    justify-content: space-around !important;
  }

  .sumaho-header-btn {
    border:1px solid white;
    border-radius:5px;
    font-size: 0.8em;
  }

  .erb .container {
    width:90%;
  }

  .erb .box {
    width:80%;
  }

  .top .block {
    padding:40px 5px;
  }
  
  .top .top-block-text {
    width:400px;
    padding:10px;
  }

  .top .top-block-text {
    margin-right:0px;
  }

  .top .block-about {
    width: 95%;
  }
}